.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;

  &__Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    input {
      padding: 6px;
      border-radius: 3px;
      border: 1px solid #808080;
      width: 200px;
    }

    .Login__Submit {
      width: 120px;
    }
  }
}
